/* http://mac.pcbeta.com/ */
body, td, input, textarea, select, button {
    color: #000;
    font-family: Avenir,Lucida Grande,Calibri,Trebuchet MS,Helvetica,Arial,Hiragino Sans GB,WenQuanYi Micro Hei,STHeiti,Microsoft Jhenghei,Nanum Gothic,sans-serif;
    text-shadow: 0 0 3px rgba(0,0,0,0.5);
}

ul#player_list_menu {
    height: 150px;
    overflow-x: hidden;
    overflow-y: scroll;
}

ul#player_list_menu li {
    padding: 3px;
    /*line-height: 20px;*/
    font-size: 15px;
}

/* http://stackoverflow.com/questions/18329010/what-happened-to-nav-header-class */
.nav > li.nav-header > a {
    cursor: default;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}

.nav > li.nav-header > a:hover,
.nav > li.nav-header > a:focus {
    background-color: #fff;
}